<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>LOGIN</title>
</head>

<body>

  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" id="emailN" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="pass" id="passwordN" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button class="btn btn-primary" onclick="signin()">Submit</button>

</body>
<!-- <script src="tockenChack.js"></script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
  $( document ).ready(function() {
    console.log( "ready!" );
    console.log( "1st" );
    const isChack = localStorage.getItem('token')
    if(isChack){
      window.location.replace("/main");
    }
});
</script>


<script>
  function signin() {
    console.log( "2nd" );
    let data = {
      email: document.getElementById("emailN").value,
      pass: document.getElementById("passwordN").value
    }
    // data ={email: "shubhamroy12345@gmail.com", pass: "Shubham@12345"}
    console.log(data);

    $.ajax({
      type: "POST",
      url: "/api/signin",
      data: data,
      success: function (data) {
        console.log("---------OK----->")
        console.log(data);
        window.location.replace("/main");
        localStorage.setItem("token",data.token)
      },
      error: function (err) {
        console.log("---------ERROR----->")
        console.log(data);
      }
    });
  }
</script>

</html>